/* GLOBAL STYLES
-------------------------------------------------- */
.background_image_holder {
    background-position: center center;
   
    background-color: #777;
}



.title{
 font-size:23pt;	
 font-family: 'Source Sans Pro';
 font-weight:100;
 margin-bottom:2px;
}



/*==================================*/


.content {
	
	padding-left:30px;
	padding-right:20px;
	padding-top:10px;
	height:650px;
	max-width:417px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	opacity: 0.92;
}


.contentholder {
	margin-left:auto;
	margin-right:auto;
	text-align:left;

	font-size:9pt;
	font-weight: 400;
	line-height:1.3;

}


.content p{ 
 font-size:9pt;
 font-weight: 400;
 line-height:1.3;
}

/*controls*/
.pages_inputs{
	border: 1px solid #DCDCDC;
	height:20px;
	width:250px;
}
.controltext{
	font-size:8.5pt;
	font-weight:700;
}

.feedback_textarea{
 	border: 1px solid #DCDCDC;
	height:100px;
	width:100%;
	resize: none;
}

/*------------ display proper page on mobile----------*/
@media (max-width: 327px) {
    .pages_inputs{
        width: 180%;
    }
}


/*------------------ contact page style ---------------------*/
.contact_us_img{
	background-image:url('../images/bkgrdimgs/contactus.jpg'); 
}
.canada{
	color:#8a2d29;
	font-weight:700;
	font-size:9pt;
}

.space{
	height:1px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

.arealine {
	margin-top:2px;
	margin-bottom:8px;
	border: 0;
	height: 1px;
	background: #C0C0C0;    
}


/*---------------- feedback page style ----------------------*/

.feedback_img{
	background-image:url('../images/bkgrdimgs/feedback.jpg'); 
}



h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}




/*------------ newsletter page style ---------------------------*/

.newsletter_img{
	background-image:url('../images/bkgrdimgs/newsletter.jpg'); 
}


/*------------------------- share page style -----------------*/

.share_img{
	background-image:url('../images/bkgrdimgs/share.jpg'); 
}


@media (max-width: 327px) {
	.share_inputs{
		width:120%;
	}
}

