
@{

    ViewBag.Title = @CSWSWEBResources.Resource.ArtGallery;
    Layout = "~/Views/Shared/_csLayoutNoMenuHolder.cshtml";
    ViewBag.isGallery = 1;

}



<div class="wrapper HR_image_wrapper">
    <div class="imaqe_bk">
        <div class="image_content">
            <a class="a_hResImage" href="" download="" target="_black"><img class="img_hResImage"></a>
            <div class="image_title"></div>
            <div class="a_hResImagediv"><a class="a_hResImage" href="" download="" target="_black">@CSWSWEBResources.Resource.ImageSaveHR</a></div>

        </div>
    </div>

</div> <!-- /wrapper -->

